  <nav>
    <div class="site-title">
        <a href="/"><h1>blog xylemic</h1></a>
        <p>a net xylemic site</p>
    </div>
      <ul>
        <li><a href="/">blogs</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blogs/create">new blog</a></li>
      </ul>
  </nav>