<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head.ejs') %>
<body>
 <%-include('../partials/nav.ejs') %>
  <div class="about content">
    <h2>about us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur ex in enim lobortis, at elementum neque dignissim. Sed vel ligula id metus ullamcorper elementum. Donec vel varius felis, sed bibendum lectus. Sed lobortis, tortor vel scelerisque fermentum, mauris mauris sagittis lectus, vel interdum velit ipsum in justo. Donec vel orci a nunc condimentum molestie. Donec vel ipsum vel</p>
  </div>
  <%-include('../partials/footer.ejs') %>
</body>
</html>