<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head.ejs') %>
<body>
  <%-include('../partials/nav.ejs') %>
  <div class="create-blog content">
    <form action="/blogs" method="post">
      <label for="title">blog title:</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">blog snippet:</label>
      <input type="text" id="snippet" name="snippet" required>
      <label for="content">blog content:</label>
      <textarea id="body" name="body" required></textarea>
      <button type="submit">submit</button>
    </form>
  </div>
  <%-include('../partials/footer.ejs') %>
</body>
</html>